<article class="post">
  <header>
    <h1><%= title %></h1>
    <span class="date"><%= date %></span>
  </header>

  <section class="content">
    <%= body %>
    <h2 id="thanks">thanks for reading.</h2>
  </section>

</article>

